/build/
classes/
classes_e/
test_output/
test_reports/
gwt_test_reports/
.gwt/
test_failure.properties
gwt_test_output/
emma_dir/
gwt-unitCache/
war/
i_util_tests.jar
/adligo_runner.log
/adligo_runner.properties
